/* @font-face {
    font-family: 'StyreneALC';
    src: local('Styrene A LC-Bold'), local('StyreneALCBold'), local('Styrene A LC Bold'), 
    url('../assets/fonts/StyreneALC-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'StyreneALC';
    src: local('Styrene A LC-Regular'), local('StyreneALCRegular'), local('Styrene A LC Regular'), 
    url('../assets/fonts/StyreneALC-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'StyreneALC';
    src: local('Styrene A LC-Black'), local('StyreneALCBlack'), local('Styrene A LC Black'), 
    url('../assets/fonts/StyreneALC-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
} */